.header-logo{
  display: inline-block;
  width: 192px;
  height: 80px;
}
.header-logo a{
  display: inline-block;
  width: 192px;
  height: 80px;
  background: url('../../../images/logo.png') no-repeat;
  background-size: 192px 80px ;
}